In [1]:
import pandas as pd
import requests
import bs4 as BeautifulSoup
import time
import random as randint

In [8]:
url = "https://sandeepmj.github.io/scrape-example-page/"

In [9]:
pd.read_html(url)

[         Drink  Serving Size (oz)  Caffeine (mg)
 0    Coke Zero                 16             45
 1   Chai Latte                 16             95
 2  Caffe Latte                 16            150,
                 Player position Played Team  salary 2019
 0         Kirk Cousins              QB  MIN  $27,500,000
 1       Jameis Winston              QB  TAM  $20,922,000
 2       Marcus Mariota              QB  TEN  $20,922,000
 3           Derek Carr              QB  OAK  $19,900,000
 4           Joe Flacco              QB  DEN  $18,500,000
 ...                ...             ...  ...          ...
 1909  D'Ernest Johnson              RB  CLE     $495,000
 1910  Garrett Bradbury              OL  MIN     $495,000
 1911      Alex Redmond               G  CIN     $493,236
 1912       Holton Hill              CB  MIN     $435,882
 1913    Tyrone Swoopes              TE  SEA     $378,034

 [1914 rows x 4 columns]]

In [10]:
response = (pd.read_html(url))
response

[         Drink  Serving Size (oz)  Caffeine (mg)
 0    Coke Zero                 16             45
 1   Chai Latte                 16             95
 2  Caffe Latte                 16            150,
                 Player position Played Team  salary 2019
 0         Kirk Cousins              QB  MIN  $27,500,000
 1       Jameis Winston              QB  TAM  $20,922,000
 2       Marcus Mariota              QB  TEN  $20,922,000
 3           Derek Carr              QB  OAK  $19,900,000
 4           Joe Flacco              QB  DEN  $18,500,000
 ...                ...             ...  ...          ...
 1909  D'Ernest Johnson              RB  CLE     $495,000
 1910  Garrett Bradbury              OL  MIN     $495,000
 1911      Alex Redmond               G  CIN     $493,236
 1912       Holton Hill              CB  MIN     $435,882
 1913    Tyrone Swoopes              TE  SEA     $378,034

 [1914 rows x 4 columns]]

In [12]:
df = response[0]
df

         Drink  Serving Size (oz)  Caffeine (mg)
0    Coke Zero                 16             45
1   Chai Latte                 16             95
2  Caffe Latte                 16            150

In [13]:
url = "https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AllRecordsAction.action"

In [15]:
response = pd.read_html(url)
response [0]

,Physician Last Name,Physician First Name,Physician Middle Name,License Number,License Type,Effective Date,Date Updated,Year of Birth
0,Mennen,Barnett,George,112444.0,MD,11/26/2024,11/19/2024,1946.0
1,Sherman,Lawrence,M.,129824.0,MD,11/26/2024,11/19/2024,1949.0
2,Berman,Sandra,M.,143791.0,MD,11/25/2024,11/19/2024,1954.0
3,Essien,Adeline,NaN,218691.0,MD,11/26/2024,11/19/2024,1952.0
4,Upadhyayula,Nagendra,P.,225874.0,MD,11/19/2024,11/12/2024,1964.0
5,Lasheen,Samy,M.,224512.0,MD,11/19/2024,11/12/2024,1959.0
6,Moosazadeh,Kioomars,NaN,238359.0,MD,11/19/2024,11/12/2024,1956.0
7,Prussen,Heather,M.,16089.0,PA,11/04/2024,11/12/2024,1990.0
8,Shapira,Shmuel,NaN,248564.0,MD,11/19/2024,11/12/2024,1949.0
9,Namey,Thomas,C.,121124.0,MD,11/11/2024,11/08/2024,1948.0
10,Kaplan,Eugene,D.,217230.0,MD,11/11/2024,11/08/2024,1959.0
11,Thomas,Zinia,NaN,305816.0,MD,10/15/2024,11/06/2024,1973.0
12,Anghel,Daniel,NaN,164299.0,MD,11/05/2024,11/05/2024,1954.0
13,Elfeky,Hamed,NaN,201943.0,MD,10/31/2024,11/05/2024,1955.0
14,Bage,Seyoum,NaN,233576.0,MD,11/07/2024,10/31/2024,1969.0
15,Gonzalez,Jaime,C.,184055.0,MD,11/07/2024,10/31/2024,1955.0
16,Kim,Eugene,M.,225488.0,MD,10/29/2024,10/29/2024,1970.0
17,Klein,Ira,A.,190135.0,MD,11/04/2024,10/28/2024,1963.0
18,Berkowitz,Andrew,NaN,205712.0,MD,10/25/2024,10/25/2024,1959.0
19,Schwartz,Jaime,S.,247201.0,MD,10/16/2024,10/25/2024,1975.0
20,New Physician Search,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,"Physician Records \tvar css = "".visualping-con...",Physician Last Name Physician First Name Physi...,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
url_list =["https://sandeepmj.github.io/scrape-example-page/heaviest-animals-page1.html"]

['https://sandeepmj.github.io/scrape-example-page/heaviest-animals-page1.html']

TypeError: cannot parse from 'list'